* {
  font-family: "Poppins", sans-serif;
  font-size: 62.5%;

  --bg: #241d3b;

  --heading: 700 2.4rem "Poppins", sans-serif;
}

body {
  display: grid;
  place-items: center;
  margin: 0;
  height: 100vh;

  background-color: var(--bg);

  font-size: 1.6rem;
}
